

/*Nav Bar*/ 

.navigation
{
display: flex;
flex-flow: row;
padding: 0px;
justify-content: flex-end;
height:fit-content;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  width: 100px;  
  height: 100px; 
  text-decoration: none;
  color: black;
  margin: 0px;
  cursor: pointer;

}

.decorated {
  font-weight: bold;
}

.navigation div{
  flex-grow: 1;
  background-color: white;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
  .footer {
    
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .footer {

  }
}
  

/*Body*/

.hero{
  width: 1400px;
  height: 500px;
  border: 15px;
  padding: 200px;
  margin: auto;
  border-bottom: 5px solid black ;
}
.hero u{
  background-color: rgb(55, 0, 252);
  color: white;
  text-decoration: none;
}

h1{
  font-family: 'Roboto Slab', serif;
  font-size: 62px;
  line-height: 82px;
  text-align: center;
  margin: 0px auto;
}

.hero p{
 font-family: 'Sen', sans-serif;
 font-size: 24px;
 text-align: center;
 margin: 0px auto;

}

.divider{
    background-color:  #000000;
    padding: 3px;
    margin: 10px;
}

/*Skillset*/
.skills{
  display: grid;
  width: 1440px;
  border: 15px;
  padding: 200px;
  border-bottom: 5px solid black;
  margin: auto;
  grid-template-columns: 50px, 50px;
  grid-template-rows: auto;
  grid-template-areas: "intro intro" 
  "productdesign visualdesign";
}

.skills h2{
  font-family: 'Roboto Slab', serif;
  font-size: 55px;
  text-align: left;
  padding-left: 20px;
}

.skills h3{
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}

.skills p{
  font-family: 'Sen', sans-serif;
  font-size: 24px;
  padding: 20px;
}

.skills img{
  width: 7%;
  height: auto;
  padding-left: 20px;
}

.intro{
  grid-area: intro;
}

.productdesign{
  grid-area: productdesign;
}

.visualdesign{
  grid-area: visualdesign;
}

/*My Work*/

.myWork{
  display: grid;
  width: 1440px;
  border: 15px;
  padding: 200px;
  margin: auto;
  align-content: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;  
  grid-template-areas: "myworktitle myworktitle"
  "work2 work2desc"
  "work3 work3desc"
  "work4 work4desc";
}

.myWork h2{
  font-family: 'Roboto Slab', serif;
  font-size: 55px;
  padding-left: 20px;
}

.myWork h4{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  padding-top: 10px;
  text-align: left;
  width: 450px;
  height: 50px;
}

.myWork p{
  font-family: 'Sen', sans-serif;
  font-size: 24px;
  text-align: left;
  width: 450px;
  height: 100px;

}

.myworktitle{
  display: grid;
  grid-area: myworktitle;
  justify-self: flex-start;  
}

/*.work1{
  grid-area: work1;
  padding: 20px;
  margin: 40px;
}

.work1desc{
  display: grid;
  grid-area: work1desc;
  padding: 20px;
  margin: 40px;
  align-items:flex-start;
  justify-content: center;

}*/

.work2{
  grid-area: work2;
  padding: 20px;
  margin: 40px;
}

.work2desc{
  display: grid;
  grid-area: work2desc;
  padding: 20px;
  margin: 40px;
  align-items:flex-start;
  justify-content: center;

}
.work3{
  grid-area: work3;
  padding: 20px;
  margin: 40px;

}

.work3desc{
  display: grid;
  grid-area: work3desc;
  padding: 20px;
  margin: 40px;
  align-items:flex-start;
  justify-content: center;

}

.work4{
  display: grid;
  grid-area: work4;
  padding: 20px;
  margin: 40px;

}

.work4desc{
  display: grid;
  grid-area: work4desc;
  padding: 20px;
  margin: 40px;
  align-items:flex-start;
  justify-content: center;

}

.webimage{
  padding-top: 10px;
  width:600px;
  height: 330px;
}

.mobileimg{
  padding-top: 20px;
  height: 370px;
  margin: auto;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  border: black;
  color: black;
  font-family: 'Sen', sans-serif;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 8px 38px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
  width: 222px;
  height: 47px;
  font-variant-caps: normal;
  cursor: pointer;
}

/*Footer*/
.footer{
  display: grid;
  background-color: black;
  width: auto;
  height: 300px;
  align-content: center;
  justify-items: center;
  
}

.footer p{
  font-family: 'Sen', sans-serif;
  font-size: 15px;
  color: aliceblue;
  padding-top: 40px;
}

/* Style all font awesome icons */
.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

footer .button {
  box-sizing: border-box;
  display: inline-block;
  background-color: rgb(55, 0, 252);;
  border: black;
  color: white;
  font-family: 'Sen', sans-serif;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 8px 40px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
  width: 222px;
  height: 47px;
  font-variant-caps: normal;
  cursor: pointer;
}